[submodule "third_party/replxx"]
	path = src/third_party/replxx
	url = https://github.com/AmokHuginnsson/replxx.git
[submodule "third_party/tableprinter"]
	path = src/third_party/tableprinter
	url = https://github.com/OzanCansel/tableprinter
